#header_box {
    overflow: hidden;
}

#header_box.active .choose_city_list:before {
    width: 94px;
}

#header_inner {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 7px 0 0;
}

#header_inner .container {
    margin: 0 auto;
}

.header_box {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.header_box > * {
    display: table-cell;
}

.logo {
    width: 162px;
}

.logo_inner {
    display: block;
    width: 162px;
    height: 36px;
    background: url(../images/liga-logo.png) 0 0 no-repeat;
    text-decoration: none;
    text-indent: -9999px;
}

.logo .choose_city_close {
    display: none;
}

.choose_city_close {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 15px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.choose_city_close:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mobal_menu_box {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -18px;
    height: 36px;
    width: 36px;
}

.mobal_menu_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mobal_menu_btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mobal_menu_btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 0 #fff, 0 12px #fff;
    box-shadow: 0 6px 0 #fff, 0 12px #fff;
}

.openMobMenu .mobal_menu_btn {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.header_menu_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header_menu_close_btn img {
    vertical-align: bottom;
}

.openMobMenu .header_menu_close_btn {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

.align_right {
    text-align: right;
}

.navigation {
    display: inline-block;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}

.navigation:after {
    content: '';
    display: block;
    clear: both;
}

.navigation > li {
    float: left;
    position: relative;
    padding: 14px 5px 0;
    background: transparent;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

.navigation > li > a,
.navigation > li > span {
    padding-right: 8px;
    padding-left: 8px;
}

.navigation > li:last-child > a,
.navigation > li:last-child > span {
    padding-right: 0;
}

.navigation > li a,
.navigation > li span {
    display: block;
    font: 700 12px/15px 'PT Sans', sans-serif;
    padding-bottom: 14px;
    position: relative;
    letter-spacing: 0.4px;
    color: #fff;
    text-decoration: none;
}

.navigation > li a:before,
.navigation > li span:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #db2b2b;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation > li.current > a:before,
.navigation > li.current > span:before,
.navigation > li > a:hover:before {
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation .private_office_link {
    border: none;
    padding-bottom: 0;
}

.navigation .private_office_link a,
.navigation .private_office_link span {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    display: inline-block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-left: 15px;
}

.navigation .private_office_link a:before,
.navigation .private_office_link span:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    right: 0;
    bottom: 8px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation .private_office_link a:hover:before {
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation .private_office_link.current span {
    color: #db2b2b;
}

.navigation .private_office_link.current span:before {
    background-color: #db2b2b;
}

.navigation .logOut a {
    font-size: 15px;
    line-height: 15px;
}

.navigation .logOut a:hover {
    opacity: 0.5;
}

.navigation .logOut a:before {
    display: none;
}

.submenu {
    position: absolute;
    top: 100%;
    margin: -3px 0 0 0;
    border-top: 3px solid #db2b2b;
    left: -15px;
    right: -15px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    -webkit-transition: opacity 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    list-style: none;
    font-size: 100%;
    outline: 0;
    vertical-align: top;
}

.switch-lang .submenu {
    left: -5px;
    right: -5px;
}

.switch-lang img {
    position: relative;
    top: 2px;
}

.navigation > li:hover .submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: opacity 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.submenu li:not(:last-child) {
    border-bottom: 1px solid rgba(246, 246, 246, 0.1);
}

.submenu li a {
    font: 400 12px/16px "PT Sans", sans-serif;
    padding: 9px 0 5px;
    text-decoration: none;
}

.submenu li a:hover {
    color: #db2b2b;
}

.navigation .nav_btn_red {
    background-color: #db2b2b;
    margin-top: -7px;
    padding-top: 21px;
}

.nav_icon {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.nav_icon_star {
    width: 16px;
    height: 16px;
    background: url(../images/icon_star_nav.png) 0 0 no-repeat;
}
@media only screen and (max-width: 1030px) {

    #header_inner {
        top: 0 !important;
        height: 50px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .header_box .choose_city {
        width: auto;
    }

    .logo {
        float: none;
        margin-left: 10px;
    }

    .logo .choose_city_close {
        display: block;
    }

    .openMobMenu.openCityBox .logo_inner{
        opacity: 0;
        visibility: hidden;
    }

    .logo .choose_city_close{
        display: block;
    }

    #choose_city .choose_city_close{
        display: none;
    }

    .choose_city_close{
        left: 10px;
        top: 50%;
        margin-top: -12px;
        padding-left: 20px;
        right: initial;
        font: 18px/24px 'PT Sans',sans-serif;
        color: #9b9b9b;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .openMobMenu.openCityBox .choose_city_close{
        opacity: 1;
        visibility: visible;
    }

    .choose_city_close img{
        display: none;
    }

    .choose_city_close:hover{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .mobal_menu_box{
        display: block;
    }

    .header_box_inner{
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        border-top: 2px solid rgba(246,246,246,0.1);
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .openMobMenu .header_box_inner{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .openMobMenu.openCityBox .header_box_inner{
        opacity: 0;
        visibility: hidden;
        -moz-transform: scale(0.5) translate(0, 0);
        -webkit-transform: scale(0.5) translate(0, 0);
        -o-transform: scale(0.5) translate(0, 0);
        -ms-transform: scale(0.5) translate(0, 0);
        transform: scale(0.5) translate(0, 0);
    }

    .nav_box{
        padding-top: 0;
        padding-bottom: 20px;
        top: 66px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        position: absolute;
    }
    .navigation{
        display: block;
        margin: 0 30px;
        border-top: 1px solid rgba(246,246,246,0.1);
    }

    .navigation li{
        float: none;
        padding: 25px 0 9px;
        margin: 0 !important;
        border-bottom: 1px solid rgba(246,246,246,0.1);
    }

    .navigation li.current{
        border-width: 3px;
    }

    .navigation li a,
    .navigation li span{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.6px;
        padding-bottom: 0;
    }

    .navigation li a:before, .navigation li span:before{
        display: none;
    }

    .navigation .private_office_link{
        border: none;
    }

    .navigation .private_office_link a:before, .navigation .private_office_link span:before{
        bottom: 0;
    }

    .navigation li.current>a,
    .navigation li.current>span{
        border-bottom: 3px solid #db2b2b;
    }

    .submenu{
        position: static;
        margin: 0;
        padding: 0 0 0 15px;
        background: none;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        border: none;
        text-align: left;
    }

    .submenu li a{
        padding-left: 15px;
    }

    .navigation .private_office_link{
        border: none;
    }

    .navigation .private_office_link a:before, .navigation .private_office_link span:before{
        bottom: 0;
    }

    .nav_icon {
        float: left;
        margin-right: 8px;
        margin-top: 2px;
        margin-left: 10px;
        position: static;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
	#header_inner {padding:0;}
	.logo_inner {margin:7px 0 0 10px;}
}
/*
@media only screen and (max-width: 991px) {
    .header_box > * {
        display: block;
    }

    .header_box {
        display: block;
        width: auto;
    }

    .logo {
        float: left;
    }

    .nav_box{
        text-align: left;
        clear: both;
        padding-top: 10px;
    }

    .navigation .nav_btn_red {
        margin-top: -3px;
        padding-top: 17px;
    }

    .nav_icon {
        top: 3px;
    }
}

*/
